
{% extends 'layout.html.twig' %}

{% block title %}{{ 'button.about'|trans }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/style_about.css') }}">
{% endblock %}

{% block content %}

    <div class="about-wrapper">
        <div class="about-side">
            <div class="side-el conf">{{ 'button.about'|trans }}</div>
            <div class="side-el month">{{ 'event.november'|trans }} 5-6-7, 2025</div>
            <div class="side-el turkey">{{ 'event.mersin'|trans }}, {{ 'event.turkey'|trans }}</div>
            <div class="side-el organizer">{{ 'about_content.organizers'|trans }}</div>

            <div class="logo-wrapper">
                <div class="logo">
                    <img src="{{ asset('logo/apk-white.svg') }}" alt="apk">
                </div>
                <div class="logo">
                    <img src="{{ asset('logo/soybean.svg') }}" alt="soybean">
                </div>
                <div class="logo">
                    <img src="{{ asset('logo/asia-white.svg') }}" alt="asia">
                </div>
            </div>
        </div>

        <div class="devider"></div>

        <div class="about-main">
            <div class="line-menu">
                <div class="btn-wrapper">
                    <a href="{{ path('main_page', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.main_page'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('program', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.program'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper" style="display: none;">
                    <a href="#" class="btn">
                        {{ 'button.speaker'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper" style="display: none;">
                    <a href="#" class="btn">
                        {{ 'button.partner'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('download_sponsor_options') }}" class="btn" title="Download PDF">
                        {{ 'button.sponsor_options'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('participation', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.participation'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('hotel', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.hotel'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('contacts', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.contacts'|trans }}
                    </a>
                </div>
            </div>
            <div class="about-paragraph">
                <b>On November  5–7, 2025, the international AgroFood Summit 2025</b> will take place in <b>Mersin</b>, Türkiye, bringing together agribusiness professionals from all around the world.
            </div>
            <div class="about-paragraph">
                The summit will focus on the analysis of global and regional trends in grain, oilseed, and pulse markets; prospects for the development of agro-processing in Türkiye; as well as new logistics opportunities for the Black Sea region, the Middle East, North Africa, and Asia.
            </div>
            <div class="about-paragraph">
                The venue will be the 5-star Radisson Hotel Mersin, whose modern conference hall will host over 500 participants, providing comfortable conditions for productive work and networking.
            </div>

            <div class="about-heading"><span class="cube"></span>Why Mersin?</div>

            <div class="about-paragraph">
                Mersin is the agricultural gateway to the Eastern Mediterranean and a powerful agricultural and logistics hub.
            </div>
            <div class="about-paragraph">
                The city has the Türkiye’s largest seaport, offering direct export routes for agricultural products to Europe, the Middle East, North Africa, and Asia. An additional advantage is the Free Economic Zone, which fosters the growth of agribusiness, innovation, and international partnerships.
            </div>
            <div class="about-paragraph">
                Türkiye has traditionally been one of the largest importers of agricultural products from Ukraine, Kazakhstan, and EU countries, as well as an important processing center with developed flour milling and feed industries.
            </div>
            <div class="about-paragraph">
                On the <b>third day</b> of the summit, a tour to one of the terminals of <b>Mersin Port</b> is planned!
            </div>
            <div class="about-paragraph">
                <b>Participants’ geography:</b> Ukraine, Türkiye, Kazakhstan, Uzbekistan, India, UAE, Ethiopia, Myanmar, Germany, Switzerland, Canada, the United Kingdom, China, and other countries.
            </div>
            <div class="about-paragraph">
                <b>Target audience:</b> manufacturers,  exporters and importers of grains, oilseeds, and pulses; agro-processors; traders; logistics operators; investors; industry associations; banks; analytical agencies; equipment manufacturers; representatives of state authorities.
            </div>
            <div class="about-paragraph">
                <b>Conference language:</b> English, with simultaneous interpretation into Ukrainian, Russian, and Turkish.
            </div>

            <div class="about-heading"><span class="cube"></span>KEY TOPICS:</div>

            <div class="about-topics-main-wrapper">
                <div class="about-topics-inner-wrapper">
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            The impact of global trade conflicts on the redistribution of the world grain trade.
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">1</div>
                        </div>
                    </div>
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            Competition for oilseed raw materials in the Black Sea region.
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">2</div>
                        </div>
                    </div>
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            What role do India, Canada, and China  play in the world  pulse trade today?
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">3</div>
                        </div>
                    </div>
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            Turkey’s flour milling industry as a leader in the global flour market.
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">4</div>
                        </div>
                    </div>
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            How are the freight market and logistics routes changing in global trade?
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">5</div>
                        </div>
                    </div>
                </div>
                <div class="about-topics-inner-wrapper">
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            Features of grain supplies to Türkiye from Ukraine, Kazakhstan, and the EU.
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">6</div>
                        </div>
                    </div>
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            Prospects for Ukrainian soybean exports and Kazakhstan’s export opportunities.
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">7</div>
                        </div>
                    </div>
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            Pulse markets  of Ukraine, Türkiye and Kazakhstan.
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">8</div>
                        </div>
                    </div>
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            Prospects for oilseed processing.
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">9</div>
                        </div>
                    </div>
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            Features and prospects of logistics development from Kazakhstan to Türkiye.
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">10</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

    </script>
{% endblock %}