
{% extends 'layout.html.twig' %}

{% block title %}{{ 'button.about'|trans }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/style_about.css') }}?v={{ "now"|date("U") }}">
{% endblock %}

{% block content %}

    <div class="about-wrapper">
        <div class="about-side">
            <div class="side-el conf">{{ 'button.about'|trans }}</div>
            <div class="side-el month">{{ 'event.november'|trans }} 19-21, 2025</div>
            <div class="side-el turkey">{{ 'event.mersin'|trans }}, {{ 'event.turkey'|trans }}</div>
            <div class="side-el organizer">{{ 'about_content.organizers'|trans }}</div>

            <div class="logo-wrapper">
                <div class="logo logo-apk" onclick="window.open('https://www.apk-inform.com/uk', '_blank')">
                    <img src="{{ asset('logo/apk-white.svg') }}" alt="apk">
                </div>
                <div class="logo logo-soybean" onclick="window.open('https://ukraine-pulse.org', '_blank')">
                    <img src="{{ asset('logo/soybean.svg') }}" alt="soybean">
                </div>
                <div class="logo">
                    <img src="{{ asset('logo/asia-white.svg') }}" alt="asia">
                </div>
            </div>
        </div>

        <div class="devider"></div>

        <div class="about-main">
            <div class="line-menu">
                <div class="btn-wrapper">
                    <a href="{{ path('main_page', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.main_page'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('program', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.program'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('speakers', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.speaker'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('partners', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.partner'|trans }}
                    </a>
                </div>

                <div class="btn-wrapper">
                    <a href="{{ path('participation', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.participation'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('hotel', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.hotel'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('contacts', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.contacts'|trans }}
                    </a>
                </div>
            </div>
            <div class="about-paragraph">
                {{ 'about_content.summit.intro'|trans|raw }}
            </div>
            <div class="about-paragraph">
                {{ 'about_content.summit.focus'|trans }}
            </div>
            <div class="about-paragraph">
                {{ 'about_content.summit.venue'|trans }}
            </div>

            <div class="about-heading"><span class="cube"></span>{{ 'about_content.why_mersin.heading'|trans }}</div>

            <div class="about-paragraph">
                {{ 'about_content.why_mersin.gateway'|trans }}
            </div>
            <div class="about-paragraph">
                {{ 'about_content.why_mersin.seaport'|trans }}
            </div>
            <div class="about-paragraph">
                {{ 'about_content.why_mersin.imports'|trans }}
            </div>
            <div class="about-paragraph">
                {{ 'about_content.why_mersin.tour'|trans|raw }}
            </div>

            <div class="about-paragraph">
                {{ 'about_content.participants.geography'|trans|raw }}
            </div>
            <div class="about-paragraph">
                {{ 'about_content.participants.audience'|trans|raw }}
            </div>
            <div class="about-paragraph">
                {{ 'about_content.participants.language'|trans|raw }}
            </div>

            <div class="about-heading"><span class="cube"></span>{{ 'about_content.topics.heading'|trans }}</div>

            <div class="about-topics-main-wrapper">
                <div class="about-topics-inner-wrapper">
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            {{ 'about_content.topics.1'|trans }}
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">1</div>
                        </div>
                    </div>
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            {{ 'about_content.topics.2'|trans }}
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">2</div>
                        </div>
                    </div>
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            {{ 'about_content.topics.3'|trans }}
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">3</div>
                        </div>
                    </div>
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            {{ 'about_content.topics.4'|trans }}
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">4</div>
                        </div>
                    </div>
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            {{ 'about_content.topics.5'|trans }}
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">5</div>
                        </div>
                    </div>
                </div>
                <div class="about-topics-inner-wrapper">
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            {{ 'about_content.topics.6'|trans }}
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">6</div>
                        </div>
                    </div>
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            {{ 'about_content.topics.7'|trans }}
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">7</div>
                        </div>
                    </div>
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            {{ 'about_content.topics.8'|trans }}
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">8</div>
                        </div>
                    </div>
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            {{ 'about_content.topics.9'|trans }}
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">9</div>
                        </div>
                    </div>
                    <div class="about-topic">
                        <div class="about-topic-top"></div>
                        <div class="about-topic-text">
                            {{ 'about_content.topics.10'|trans }}
                        </div>
                        <div class="about-topic-bottom">
                            <div class="bottom-figure">10</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>

    </script>
{% endblock %}