
{% extends 'layout.html.twig' %}

{% block title %}{{ 'button.contacts'|trans }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/style_contacts.css') }}">
{% endblock %}

{% block content %}

    <div class="contacts-top">
        <div class="line-menu">
            <div class="btn-wrapper">
                <a href="{{ path('main_page', {'_locale': app.request.locale}) }}" class="btn">
                    {{ 'button.main_page'|trans }}
                </a>
            </div>
            <div class="btn-wrapper">
                <a href="{{ path('about_conference', {'_locale': app.request.locale}) }}" class="btn">
                    {{ 'button.about'|trans }}
                </a>
            </div>
            <div class="btn-wrapper">
                <a href="#" class="btn">
                    {{ 'button.program'|trans }}
                </a>
            </div>
            <div class="btn-wrapper">
                <a href="#" class="btn">
                    {{ 'button.speaker'|trans }}
                </a>
            </div>
            <div class="btn-wrapper">
                <a href="#" class="btn">
                    {{ 'button.partner'|trans }}
                </a>
            </div>
            <div class="btn-wrapper">
                <a href="#" class="btn">
                    {{ 'button.sponsor_options'|trans }}
                </a>
            </div>
            <div class="btn-wrapper">
                <a href="#" class="btn">
                    {{ 'button.participation'|trans }}
                </a>
            </div>
        </div>

        <div class="logo-contacts-reg-wrapper">
            <div class="conf-logo">
                <img src="{{ asset('logo/agrofood.svg') }}" alt="agrofood">
            </div>
            <div class="contacts-block-wrapper">
                <div class="logo-block">
                    <div class="logo">
                        <img src="{{ asset('logo/apk.svg') }}" alt="apk">
                    </div>
                    <div class="logo">
                        <img src="{{ asset('logo/asia.svg') }}" alt="asia">
                    </div>
                </div>
                <div class="contacts-company">ИА АПК-ИНФОРМ</div>
                <div class="devider"></div>
                <div class="contacts">+380 562 320795, +380 562 320795 (доб.111)</div>
                <div class="contacts">+380 67 6342630</div>
                <div class="contacts">market@apk-inform.com</div>

                <div class="logo-block">
                    <div class="logo">
                        <img src="{{ asset('logo/soybean.svg') }}" alt="soybean">
                    </div>
                </div>
                <div class="contacts-company">ОА УКРАИНСКАЯ БОБОВО-СОЕВАЯ АССОЦИЯЦИЯ</div>
                <div class="devider"></div>
                <div class="contacts">Дмитрий Орел</div>
                <div class="contacts">+380 63 1502011</div>
                <div class="contacts">df.bobovi@gmail.com</div>
            </div>
            <div class="registration-wrapper">
                <div class="month">{{ 'event.november'|trans }} 5-6-7, 2025</div>
                <div class="turkey">{{ 'event.mersin'|trans }}, {{ 'event.turkey'|trans }}</div>
                <div class="registration">
                    <div class="reg-btn-wrapper">
                        <a href="#">
                            <button class="btn-a reg-btn" type="button">{{ 'event.registration'|trans }} >></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contacts-bottom"></div>

{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        const images = [
            '/mersin_images/mersin1.jpg',
            '/mersin_images/mersin2.jpg',
            '/mersin_images/mersin3.jpg',
        ];

        let current = 0;

        function changeBackground() {
            current = (current + 1) % images.length;
            document.querySelector('.contacts-bottom').style.backgroundImage = `url('${images[current]}')`;
        }

        document.querySelector('.contacts-bottom').style.backgroundImage = `url('${images[0]}')`;

        setInterval(changeBackground, 4000);
    </script>
{% endblock %}