
{% extends 'layout.html.twig' %}

{% block title %}{{ 'button.hotel'|trans }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/style_hotel.css') }}?v={{ "now"|date("U") }}">
{% endblock %}

{% block content %}

    <div class="about-wrapper">
        <div class="about-side">
            <div class="side-el conf">{{ 'button.hotel'|trans }}</div>
            <div class="side-el month">{{ 'event.november'|trans }} 19-21, 2025</div>
            <div class="side-el turkey">{{ 'event.mersin'|trans }}, {{ 'event.turkey'|trans }}</div>

            <div class="logo-wrapper">
                <div class="logo">
                    <img src="{{ asset('logo/agrofood-white.svg') }}" alt="asia">
                </div>
            </div>
        </div>

        <div class="devider"></div>

        <div class="hotel-main">
            <div class="line-menu">
                <div class="btn-wrapper">
                    <a href="{{ path('main_page', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.main_page'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('about_conference', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.about'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('program', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.program'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('speakers', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.speaker'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('partners', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.partner'|trans }}
                    </a>
                </div>

                <div class="btn-wrapper">
                    <a href="{{ path('participation', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.participation'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('contacts', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.contacts'|trans }}
                    </a>
                </div>
            </div>

            <div class="about-heading">{{ 'hotel.about.heading'|trans }}</div>
            <div class="about-paragraph">{{ 'hotel.about.paragraph'|trans|raw }}</div>

            <div class="about-heading">{{ 'hotel.advantages.heading'|trans }}</div>
            <div class="about-paragraph margined">{{ 'hotel.advantages.comfort'|trans|raw }}</div>
            <div class="about-paragraph margined">{{ 'hotel.advantages.infrastructure'|trans|raw }}</div>
            <div class="about-paragraph margined">{{ 'hotel.advantages.facilities'|trans|raw }}</div>
            <div class="about-paragraph margined">{{ 'hotel.advantages.special_rates'|trans|raw }}</div>
            <div class="photo-block">
                <div class="photo-left">
                    <img src="{{ asset('hotel/hotel-left.PNG') }}" alt="panorama">
                </div>
                <div class="photo-center">
                    <img src="{{ asset('hotel/hotel-center.PNG') }}" alt="panorama">
                </div>
                <div class="photo-right">
                    <img src="{{ asset('hotel/hotel-right.PNG') }}" alt="panorama">
                </div>
            </div>

            <div class="about-heading">For airport-hotel-airport transfer arrangements please contact:</div>
            <div class="hotel-transfer-contact-heading">Ahmet Kurtulmuş</div>
            <div class="hotel-transfer-contact">+90 507 4528864</div>
            <div class="hotel-transfer-contact">operation@olcartour.com</div>
            <div class="hotel-transfer-route">CUKUROVA AIRPORT - HOTEL - CUKUROVA AIRPORT</div>
            <div class="hotel-transfer-contact">Round Trip Price per person : <b>50.00 USD</b> </div>
            <div class="about-heading">! Please note that each guest is responsible for their own transfers !</div>

        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>

    </script>
{% endblock %}