
{% extends 'layout.html.twig' %}

{% block title %}{{ 'title.main'|trans }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/style_main.css') }}">
{% endblock %}

{% block content %}
    <div class="logo-top">
        <div class="logo-wrapper">
            <div class="logo">
                <img src="/logo/apk.svg" alt="apk">
            </div>
            <div class="logo">
                <img src="/logo/soybean.svg" alt="soybean">
            </div>
            <div class="logo">
                <img src="/logo/asia.svg" alt="asia">
            </div>
        </div>

        <div class="event-info-wrapper">
            <div class="event-place">
                <div class="date">NOVEMBER 5-6-7, 2025</div>
                <div class="turkey">MERSIN, TURKEY</div>
            </div>
            <div class="event-logo">
                <img src="/logo/agrofood.svg" alt="agrofood">
            </div>
            <div class="event-date-registration">
                <div class="table">
                    <div class="before-start">ДО НАЧАЛА</div>
                    <div class="day-month-wrapper">
                        <div class="month-wrapper">
                            <div class="month-figure">07</div>
                            <div class="month">МЕСЯЦЕВ</div>
                        </div>
                        <div class="days-wrapper">
                            <div class="days-figure">13</div>
                            <div class="days">ДНЕЙ</div>
                        </div>
                    </div>
                </div>
                <div class="registration">
                    <div class="btn-wrapper">
                        <a href="{{ path('about_conference', {'_locale': app.request.locale}) }}" class="btn">
                            <button class="btn" type="button">РЕГИСТРАЦИЯ >></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider">
        <div class="int-conf">INTERNATIONAL</div>
        <div class="int-conf">CONFERENCE</div>
    </div>

    <div class="bottom-wave">
        <div class="btn-wrapper">
            <a href="{{ path('about_conference', {'_locale': app.request.locale}) }}" class="btn">
                <button class="btn" type="button">{{ 'page.about'|trans }}</button>
            </a>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        const images = [
            '/images/port.JPG',
            '/images/sunflower.JPG',
            '/images/wheat.JPG'
        ];

        let current = 0;

        function changeBackground() {
            current = (current + 1) % images.length;
            document.querySelector('.slider').style.backgroundImage = `url('${images[current]}')`;
        }

        document.querySelector('.slider').style.backgroundImage = `url('${images[0]}')`;

        setInterval(changeBackground, 5000);
    </script>
{% endblock %}