
{% extends 'layout.html.twig' %}

{% block title %}AgroFood Summit{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/style_main.css') }}?v={{ "now"|date("U") }}">
{% endblock %}

{% block content %}
    <div class="logo-top">

        <div class="event-info-wrapper">
            <div class="event-place">
                <div class="logo-wrapper">
                    <div class="organizers-title">ORGANIZERS</div>
                    <div class="organizers-apk-beans">
                        <div class="logo logo-apk" onclick="window.open('https://www.apk-inform.com/uk', '_blank')">
                            <img src="{{ asset('logo/apk.svg') }}" alt="apk">
                        </div>
                        <div class="logo logo-soybean" onclick="window.open('https://ukraine-pulse.org', '_blank')">
                            <img src="{{ asset('logo/soybean.svg') }}" alt="soybean">
                        </div>
                    </div>
                    <div class="logo">
                        <img src="{{ asset('logo/asia.svg') }}" alt="asia">
                    </div>
                    <div class="organizers-title">OFFICIAL PARTNER</div>
                    <div class="logo logo-apk" onclick="window.open('https://globalpulses.com', '_blank')">
                        <img src="{{ asset('logo/gpc.png') }}" alt="gpc">
                    </div>
                </div>

                <div class="date">
                    <div class="date-first">{{ 'event.november'|trans }}</div>
                    <div>5-6-7, 2025</div>
                </div>
                <div class="turkey">{{ 'event.mersin'|trans }}, {{ 'event.turkey'|trans }}</div>
            </div>
            <div class="event-logo">
                <img src="{{ asset('logo/agrofood.svg') }}" alt="agrofood">
            </div>
            <div class="event-date-registration">
                <div class="date-new">
                    <div class="date-first">{{ 'event.november'|trans }}</div>
                    <div>5-6-7, 2025</div>
                </div>
                <div class="turkey-new">{{ 'event.mersin'|trans }}, {{ 'event.turkey'|trans }}</div>

                <div class="table">
                    <div class="before-start">{{ 'event.before_start'|trans }}</div>
                    <div class="day-month-wrapper">
                        <div class="month-wrapper">
                            <div class="month-figure">{{ data.months }}</div>
                            <div class="month">{{ 'event.months'|trans }}</div>
                        </div>
                        <div class="days-wrapper">
                            <div class="days-figure">{{ data.days }}</div>
                            <div class="days">{{ 'event.days'|trans }}</div>
                        </div>
                    </div>
                </div>
                <div class="registration">
                    <div class="btn-wrapper">
                        <a href="{{ path('registration', {'_locale': app.request.locale}) }}" class="btn">
                            <button class="btn reg-btn" type="button">{{ 'event.registration'|trans }} >></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider">
        <div class="slider-layer" id="layer1"></div>
        <div class="slider-layer hidden" id="layer2"></div>
        <div class="int-conf">INTERNATIONAL</div>
        <div class="int-conf">CONFERENCE</div>
    </div>

    <div class="bottom-wave">
        <div class="bottom-menu-up">
            <div class="btn-wrapper">
                <a href="{{ path('about_conference', {'_locale': app.request.locale}) }}" class="btn">
                    <button class="btn" type="button">{{ 'button.about'|trans }}</button>
                </a>
            </div>
            <div class="btn-wrapper">
                <a href="{{ path('program', {'_locale': app.request.locale}) }}" class="btn">
                    <button class="btn" type="button">{{ 'button.program'|trans }}</button>
                </a>
            </div>
            <div class="btn-wrapper">
                <a href="{{ path('speakers', {'_locale': app.request.locale}) }}" class="btn">
                    <button class="btn" type="button">{{ 'button.speaker'|trans }}</button>
                </a>
            </div>
        </div>
        <div class="bottom-menu-down">
            <div class="btn-wrapper">
                <a href="{{ path('partners') }}" class="btn">
                    <button class="btn" type="button">{{ 'button.partner'|trans }}</button>
                </a>
            </div>
            <div class="btn-wrapper">
                <a href="{{ path('download_sponsor_options') }}" class="btn" title="Download PDF">
                    <button class="btn" type="button">{{ 'button.sponsor_options'|trans }}</button>
                </a>
            </div>
            <div class="btn-wrapper">
                <a href="{{ path('participation', {'_locale': app.request.locale}) }}" class="btn">
                    <button class="btn" type="button">{{ 'button.participation'|trans }}</button>
                </a>
            </div>
            <div class="btn-wrapper">
                <a href="{{ path('hotel', {'_locale': app.request.locale}) }}" class="btn">
                    <button class="btn" type="button">{{ 'button.hotel'|trans }}</button>
                </a>
            </div>
            <div class="btn-wrapper">
                <a href="{{ path('contacts', {'_locale': app.request.locale}) }}" class="btn">
                    <button class="btn" type="button">{{ 'button.contacts'|trans }}</button>
                </a>
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        const images = [
            '/images/wheat.JPG',
            '/images/sunflower.JPG',
            '/images/port.JPG'
        ];

        let current = 0;
        let visibleLayer = 1;

        document.getElementById('layer1').style.backgroundImage = `url('${images[0]}')`;

        setInterval(() => {
            const next = (current + 1) % images.length;
            const showLayer = visibleLayer === 1 ? 2 : 1;
            const hideLayer = visibleLayer;

            const showEl = document.getElementById(`layer${showLayer}`);
            const hideEl = document.getElementById(`layer${hideLayer}`);

            showEl.style.backgroundImage = `url('${images[next]}')`;

            hideEl.classList.add('hidden');
            showEl.classList.remove('hidden');

            visibleLayer = showLayer;
            current = next;
        }, 4000);
    </script>
{% endblock %}