
{% extends 'layout.html.twig' %}

{% block title %}AgroFood Summit{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/style_main.css') }}?v={{ "now"|date("U") }}">
{% endblock %}

{% block content %}
    <div class="line-menu">
        <div class="line-menu-btn-wrapper">
            <a href="{{ path('about_conference', {'_locale': app.request.locale}) }}" class="line-menu-btn">
                {{ 'button.about'|trans }}
            </a>
        </div>
        <div class="line-menu-btn-wrapper">
            <a href="{{ path('program', {'_locale': app.request.locale}) }}" class="line-menu-btn">
                {{ 'button.program'|trans }}
            </a>
        </div>
        <div class="line-menu-btn-wrapper">
            <a href="{{ path('speakers', {'_locale': app.request.locale}) }}" class="line-menu-btn">
                {{ 'button.speaker'|trans }}
            </a>
        </div>
        <div class="line-menu-btn-wrapper">
            <a href="{{ path('partners', {'_locale': app.request.locale}) }}" class="line-menu-btn">
                {{ 'button.partner'|trans }}
            </a>
        </div>
        <div class="line-menu-btn-wrapper">
            <a href="{{ path('download_sponsor_options') }}" class="line-menu-btn" title="Download PDF">
                {{ 'button.sponsor_options'|trans }}
            </a>
        </div>
        <div class="line-menu-btn-wrapper">
            <a href="{{ path('participation', {'_locale': app.request.locale}) }}" class="line-menu-btn">
                {{ 'button.participation'|trans }}
            </a>
        </div>
        <div class="line-menu-btn-wrapper">
            <a href="{{ path('hotel', {'_locale': app.request.locale}) }}" class="line-menu-btn">
                {{ 'button.hotel'|trans }}
            </a>
        </div>
        <div class="line-menu-btn-wrapper">
            <a href="{{ path('contacts', {'_locale': app.request.locale}) }}" class="line-menu-btn">
                {{ 'button.contacts'|trans }}
            </a>
        </div>
    </div>

    <div class="logo-top">
        <div class="event-info-wrapper">
            <div class="event-place">
                <div class="date">
                    <div class="date-first">{{ 'event.november'|trans }}</div>
                    <div>19-21, 2025</div>
                </div>
                <div class="turkey">{{ 'event.mersin'|trans }}, {{ 'event.turkey'|trans }}</div>
                <div class="int-conf international">INTERNATIONAL</div>
                <div class="int-conf conference">CONFERENCE</div>
            </div>
            <div class="event-logo">
                <img src="{{ asset('logo/agrofood.svg') }}" alt="agrofood">
            </div>
            <div class="event-date-registration">
                <div class="table">
                    <div class="before-start">{{ 'event.before_start'|trans }}</div>
                    <div class="day-month-wrapper">
                        <div class="month-wrapper">
                            <div class="month-figure">{{ data.months }}</div>
                            <div class="month">{{ 'event.months'|trans }}</div>
                        </div>
                        <div class="days-wrapper">
                            <div class="days-figure">{{ data.days }}</div>
                            <div class="days">{{ 'event.days'|trans }}</div>
                        </div>
                    </div>
                </div>
                <div class="registration">
                    <div class="btn-wrapper">
                        <a href="{{ path('registration', {'_locale': app.request.locale}) }}" class="btn">
                            <button class="btn reg-btn" type="button">{{ 'event.registration'|trans }} >></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="slider">
            <div class="slider-layer" id="layer1"></div>
            <div class="slider-layer hidden" id="layer2"></div>
        </div>
        <div class="devider"></div>

        <div class="logo-block">
            <div class="logo-container">
                <div class="partners-outer-wrapper">
                    <div class="partners-inner-wrapper">
                        <div class="partner">ORGANIZER</div>
                    </div>
                    <div class="partner-logo-wrapper">
                        <a href="https://www.apk-inform.com/uk" target="_blank" class="partner-logo logo-link">
                            <img src="{{ asset('logo/apk.svg') }}" alt="apk">
                        </a>
                    </div>
                </div>
                <div class="partners-outer-wrapper">
                    <div class="partners-inner-wrapper">
                        <div class="partner">ORGANIZER</div>
                    </div>
                    <div class="partner-logo-wrapper">
                        <a href="https://ukraine-pulse.org" target="_blank" class="partner-logo logo-link">
                            <img src="{{ asset('logo/soybean.svg') }}" alt="soybean">
                        </a>
                    </div>
                </div>
                <div class="partners-outer-wrapper">
                    <div class="partners-inner-wrapper">
                        <div class="partner">ORGANIZER</div>
                    </div>
                    <div class="partner-logo-wrapper">
                        <a href="#" class="partner-logo">
                            <img src="{{ asset('logo/asia.svg') }}" alt="asia">
                        </a>
                    </div>
                </div>

                <div class="partners-outer-wrapper">
                    <div class="partners-inner-wrapper">
                        <div class="partner">SUPPORTED BY</div>
                    </div>
                    <div class="partner-logo-wrapper">
                        <a href="https://me.gov.ua" target="_blank" class="partner-logo logo-link">
                            <img src="{{ asset('logo/min-ekonomy-ukraine.jpg') }}" alt="min-ekonomy">
                        </a>
                    </div>
                </div>
            </div>

            <div class="logo-container">
                <div class="partners-outer-wrapper">
                    <div class="partners-inner-wrapper">
                        <div class="partner">OFFICIAL PARTNER</div>
                    </div>
                    <div class="partner-logo-wrapper">
                        <a href="https://globalpulses.com" target="_blank" class="partner-logo logo-link">
                            <img src="{{ asset('logo/gpc.png') }}" alt="gpc">
                        </a>
                    </div>
                </div>
                <div class="partners-outer-wrapper">
                    <div class="partners-inner-wrapper">
                        <div class="partner">GENERAL SPONSOR</div>
                    </div>
                    <div class="partner-logo-wrapper">
                        <a href="https://www.agtfoods.com/about/divisions/turkiye" target="_blank" class="partner-logo logo-link">
                            <img src="{{ asset('logo/arbel_agt.jpg') }}" alt="gpc">
                        </a>
                    </div>
                </div>

                <div class="partners-outer-wrapper">
                    <div class="partners-inner-wrapper">
                        <div class="partner">GOLD SPONSOR</div>
                    </div>
                    <div class="partner-logo-wrapper">
                        <a href="https://www.akytechnology.com/en" target="_blank" class="partner-logo logo-link">
                            <img src="{{ asset('logo/aky.jpg') }}" alt="gpc">
                        </a>
                    </div>
                </div>

                <div class="partners-outer-wrapper">
                    <div class="partners-inner-wrapper">
                        <div class="partner">SILVER SPONSOR</div>
                    </div>
                    <div class="partner-logo-wrapper">
                        <a href="https://www.imisk.com.tr/en" target="_blank" class="partner-logo logo-link">
                            <img src="{{ asset('logo/imisk.jpg') }}" alt="imisk">
                        </a>
                    </div>
                </div>
            </div>

            <div class="logo-container">
                <div class="partners-outer-wrapper">
                    <div class="partners-inner-wrapper">
                        <div class="partner">BRONZE SPONSOR</div>
                    </div>
                    <div class="partner-logo-wrapper">
                        <a href="https://atameken-agro.com/ru" target="_blank" class="partner-logo logo-link">
                            <img src="{{ asset('logo/atameken.jpg') }}" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="partners-outer-wrapper">
                    <div class="partners-inner-wrapper">
                        <div class="partner">BRONZE SPONSOR</div>
                    </div>
                    <div class="partner-logo-wrapper">
                        <a href="https://www.msc.com" target="_blank" class="partner-logo logo-link">
                            <img src="{{ asset('logo/msc.jpg') }}" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="partners-outer-wrapper">
                    <div class="partners-inner-wrapper">
                        <div class="partner">PULSES SESSION SPONSOR</div>
                    </div>
                    <div class="partner-logo-wrapper">
                        <a href="https://mersintb.org.tr" target="_blank" class="partner-logo logo-link">
                            <img src="{{ asset('logo/mersin_commodity.jpg') }}" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="partners-outer-wrapper">
                    <div class="partners-inner-wrapper">
                        <div class="partner">{{ 'partners.legal_sponsor'|trans }}</div>
                    </div>
                    <div class="partner-logo-wrapper">
                        <a href="https://agalawyers.org/uk" target="_blank" class="partner-logo logo-link">
                            <img src="{{ asset('logo/aga.jpg') }}" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="logo-container">
                <div class="partners-outer-wrapper">
                    <div class="partners-inner-wrapper">
                        <div class="partner">SPONSOR</div>
                    </div>
                    <div class="partner-logo-wrapper">
                        <a href="https://armadafoods.com" target="_blank" class="partner-logo logo-link">
                            <img src="{{ asset('logo/armada.jpg') }}" alt="gpc">
                        </a>
                    </div>
                </div>
                <div class="partners-outer-wrapper">
                    <div class="partners-inner-wrapper">
                        <div class="partner">SPONSOR</div>
                    </div>
                    <div class="partner-logo-wrapper">
                        <a href="https://www.akib.org.tr/en/default.html" target="_blank" class="partner-logo logo-link">
                            <img src="{{ asset('logo/ahbib.jpg') }}" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="partners-outer-wrapper">
                    <div class="partners-inner-wrapper">
                        <div class="partner">BADGE SPONSOR</div>
                    </div>
                    <div class="partner-logo-wrapper">
                        <a href="https://eu-nomia.eu" target="_blank" class="partner-logo logo-link">
                            <img src="{{ asset('logo/eu-nomia.jpg') }}" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="partners-outer-wrapper">
                    <div class="partners-inner-wrapper">
                        <div class="partner">BAG SPONSOR</div>
                    </div>
                    <div class="partner-logo-wrapper">
                        <a href="#" class="partner-logo logo-link">
                            <img src="{{ asset('logo/StarAgri.jpg') }}" alt="logo">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>



{% endblock %}

{% block scripts %}

    <script>
        const images = [
            '/images/wheat.JPG',
            '/images/sunflower.JPG',
            '/images/port.JPG'
        ];

        let current = 0;
        let visibleLayer = 1;

        document.getElementById('layer1').style.backgroundImage = `url('${images[0]}')`;

        setInterval(() => {
            const next = (current + 1) % images.length;
            const showLayer = visibleLayer === 1 ? 2 : 1;
            const hideLayer = visibleLayer;

            const showEl = document.getElementById(`layer${showLayer}`);
            const hideEl = document.getElementById(`layer${hideLayer}`);

            showEl.style.backgroundImage = `url('${images[next]}')`;

            hideEl.classList.add('hidden');
            showEl.classList.remove('hidden');

            visibleLayer = showLayer;
            current = next;
        }, 4000);
    </script>
{% endblock %}