{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/style_menu.css') }}">
{% endblock %}

<div class="lang-wrapper">
    <div class="inner-lang-wrapper">
        <div class="lang">
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes|merge({'_locale': 'en'})) }}">
                EN
            </a>
        </div>
        <span class="lang">|</span>
        <div class="lang">
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes|merge({'_locale': 'ru'})) }}">
                RU
            </a>
        </div>
        <span class="lang">|</span>
        <div class="lang">
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes|merge({'_locale': 'ua'})) }}">
                UA
            </a>
        </div>
    </div>
</div>


<div class="bars" onclick="showmenu()"><img src="{{ asset('icons/bars.svg') }}" alt="bars"></div>
<div class="xmark" onclick="hidemenu()"><img src="{{ asset('icons/xmark.svg') }}" alt="xmark"></div>

<div class="mobile">
    <div class="mobile-menu-wrapper">
        <div class="mobile-lang-wrapper">
            <div class="lang">
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes|merge({'_locale': 'en'})) }}">
                    EN
                </a>
            </div>
            <span class="lang">|</span>
            <div class="lang">
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes|merge({'_locale': 'ru'})) }}">
                    RU
                </a>
            </div>
            <span class="lang">|</span>
            <div class="lang">
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes|merge({'_locale': 'ua'})) }}">
                    UA
                </a>
            </div>
        </div>

        <div class="mobile-menu">
            <div class="menu-el">
                <a href="{{ path('main_page', {'_locale': app.request.locale}) }}">
                    {{ 'button.main_page'|trans }}
                </a>
            </div>
            <div class="menu-el">
                <a href="{{ path('about_conference', {'_locale': app.request.locale}) }}">
                    {{ 'button.about'|trans }}
                </a>
            </div>
            <div class="menu-el">
                <a href="{{ path('program', {'_locale': app.request.locale}) }}">
                    {{ 'button.program'|trans }}
                </a>
            </div>
            <div class="menu-el" style="display: none;">
                <a href="{{ path('speakers', {'_locale': app.request.locale}) }}">
                    {{ 'button.speaker'|trans }}
                </a>
            </div>
            <div class="menu-el" style="display: none;">
                <a href="#">
                    {{ 'button.partner'|trans }}
                </a>
            </div>
            <div class="menu-el">
                <a href="{{ path('download_sponsor_options') }}">
                    {{ 'button.sponsor_options'|trans }}
                </a>
            </div>
            <div class="menu-el">
                <a href="{{ path('participation', {'_locale': app.request.locale}) }}">
                    {{ 'button.participation'|trans }}
                </a>
            </div>
            <div class="menu-el">
                <a href="{{ path('hotel', {'_locale': app.request.locale}) }}">
                    {{ 'button.hotel'|trans }}
                </a>
            </div>
            <div class="menu-el">
                <a href="{{ path('contacts', {'_locale': app.request.locale}) }}">
                    {{ 'button.contacts'|trans }}
                </a>
            </div>
        </div>
        <div class="mob-logo-wrapper">
            <div class="mob-logo">
                <img src="{{ asset('logo/apk-white.svg') }}" alt="apk">
            </div>
            <div class="mob-logo">
                <img src="{{ asset('logo/soybean.svg') }}" alt="soybean">
            </div>
            <div class="mob-logo">
                <img src="{{ asset('logo/asia-white.svg') }}" alt="asia">
            </div>
        </div>
    </div>
</div>

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          //  const langWrapper = document.querySelector(".lang-wrapper");
            const mobile = document.querySelector(".mobile");
            const bars = document.querySelector(".bars");
            const xmark = document.querySelector(".xmark");

            function updateView() {
                const width = window.innerWidth;

                if (width > 800) {
                  //  langWrapper.style.display = "block";
                    mobile.classList.remove("active");
                    bars.style.display = "none";
                    xmark.style.display = "none";
                    xmark.classList.remove("active");
                } else {
                  //  langWrapper.style.display = "none";

                    if (mobile.classList.contains("active")) {
                        bars.style.display = "none";

                        xmark.style.display = "block";
                        xmark.classList.remove("active");
                        void xmark.offsetWidth;
                        xmark.classList.add("active");
                    } else {
                        bars.style.display = "block";

                        xmark.style.display = "none";
                        xmark.classList.remove("active");
                    }
                }
            }

            bars.addEventListener("click", function () {
                mobile.classList.add("active");
                updateView();
            });

            xmark.addEventListener("click", function () {
                mobile.classList.remove("active");
                updateView();
            });

            window.addEventListener("resize", updateView);

            updateView();
        });
    </script>
{% endblock %}