{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/style_menu.css') }}">
{% endblock %}

    <div class="header-desktop">
        <div class="menu-wrapper">
            <div class="menu">
                <div class="menu-el menu-main">{{ 'menu.main'|trans }}</div>
                <div class="menu-el menu-prog">{{ 'menu.program'|trans }}</div>
                <div class="menu-el menu-contacts">{{ 'menu.contacts'|trans }}</div>
            </div>
            <div class="menu-registration">
                <div class="lang">
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes|merge({'_locale': 'en'})) }}">
                        <img src="{{ asset('icons/uk.png') }}" alt="eng">
                    </a>
                </div>
                <div class="lang">
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes|merge({'_locale': 'ru'})) }}">
                        <img src="{{ asset('icons/russia.png') }}" alt="rus">
                    </a>
                </div>
                <div class="menu-el menu-btn">
                    <button type="button" class="reg-btn">{{ 'menu.register'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="bars" onclick="showmenu()"><img src="{{ asset('icons/bars.svg') }}" alt="bars"></div>
    <div class="arrow fa-solid fa-arrow-up" onclick="hidemenu()"><img src="{{ asset('icons/arrow.svg') }}" alt="arrow"></div>

    <div class="mobile">
        <div class="mobile-menu-wrapper">
            <div class="mobile-menu">
                <div class="menu-el menu-main">{{ 'menu.main'|trans }}</div>
                <div class="menu-el menu-prog">{{ 'menu.program'|trans }}</div>
                <div class="menu-el menu-contacts">{{ 'menu.contacts'|trans }}</div>
            </div>
            <div class="mobile-menu-registration">
                <div class="mobile-lang-wrapper">
                    <div class="lang">
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes|merge({'_locale': 'en'})) }}">
                            <img src="{{ asset('icons/uk.png') }}" alt="eng">
                        </a>
                    </div>
                    <div class="lang">
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes|merge({'_locale': 'ru'})) }}">
                            <img src="{{ asset('icons/russia.png') }}" alt="rus">
                        </a>
                    </div>
                </div>
                <div class="menu-el menu-btn">
                    <button type="button" class="reg-btn">{{ 'menu.register'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

{% block scripts %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
            $(document).ready(function() {
                function handleNavigation() {
                    let screenWidth = $(window).width();
                    if(screenWidth > 700){
                        $('.header-desktop').show();
                        $('.mobile').hide();
                        $('.bars').hide();
                        $('.arrow').hide();
                    } else {
                        $('.header-desktop').hide();
                        if($('.mobile').is(':visible')){
                            $('.bars').hide();
                            $('.arrow').show();
                        }else{
                            $('.bars').show();
                            $('.arrow').hide();
                        }
                    }
                }
                
                handleNavigation();
                
                $(window).resize(function() {
                    handleNavigation();
                });
                $('.arrow').hide();
            });
        
            function showmenu(){
            $('.mobile').show(600);
            $('.bars').hide();
            $('.arrow').show();
            }
            function hidemenu(){
            $('.mobile').hide(600);
            $('.arrow').hide();
            $('.bars').show();
            }
    </script>
{% endblock %}