
{% extends 'layout.html.twig' %}

{% block title %}{{ 'button.participation'|trans }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/style_participation.css') }}?v={{ "now"|date("U") }}">
{% endblock %}

{% block content %}

    <div class="about-wrapper">
        <div class="about-side">
            <div class="side-el conf">{{ 'button.participation'|trans }}</div>
            <div class="side-el month">{{ 'event.november'|trans }} 19-21, 2025</div>
            <div class="side-el turkey">{{ 'event.mersin'|trans }}, {{ 'event.turkey'|trans }}</div>
            <div class="side-el organizer">{{ 'about_content.organizers'|trans }}</div>

            <div class="logo-wrapper">
                <div class="logo logo-apk" onclick="window.open('https://www.apk-inform.com/uk', '_blank')">
                    <img src="{{ asset('logo/apk-white.svg') }}" alt="apk">
                </div>
                <div class="logo logo-soybean" onclick="window.open('https://ukraine-pulse.org', '_blank')">
                    <img src="{{ asset('logo/soybean.svg') }}" alt="soybean">
                </div>
                <div class="logo">
                    <img src="{{ asset('logo/asia-white.svg') }}" alt="asia">
                </div>
            </div>
        </div>

        <div class="devider"></div>

        <div class="about-main">
            <div class="line-menu">
                <div class="btn-wrapper">
                    <a href="{{ path('main_page', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.main_page'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('about_conference', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.about'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('program', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.program'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('speakers', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.speaker'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('partners', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.partner'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('download_sponsor_options') }}" class="btn" title="Download PDF">
                        {{ 'button.sponsor_options'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('hotel', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.hotel'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('contacts', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.contacts'|trans }}
                    </a>
                </div>
            </div>
            <div class="table">
                <div class="table-title">
                    <div class="table-el">Name</div>
                    <div class="table-el">Period</div>
                    <div class="table-el">Price</div>
                </div>
                <div class="table-body">
                    <div class="table-el">Standard</div>
                    <div class="table-el">01.09-10.11</div>
                    <div class="table-el">850 USD</div>
                </div>
                <div class="table-body">
                    <div class="table-el">Business</div>
                    <div class="table-el">11.11-19.11</div>
                    <div class="table-el">1000 USD</div>
                </div>
            </div>
            <div class="about-paragraph">
                <i>{{ 'participation_terms.note_fee'|trans }}</i>
            </div>
            <div class="about-paragraph">
                {{ 'participation_terms.note_invoice'|trans }}
            </div>

            <div class="about-heading"><span class="cube"></span>{{ 'participation_terms.heading'|trans }}</div>

            <div class="about-paragraph">
                <b class="highlight-date">{{ 'participation_terms.nov5.title'|trans }}</b>
                <div class="terms-list">– {{ 'participation_terms.nov5.description_factory'|trans|raw }}</div>
                <div class="terms-list">– {{ 'participation_terms.nov5.description_dinner'|trans|raw }}</div>
            </div>

            <div class="about-heading">{{ 'participation_terms.includes_heading'|trans }}</div>

            <div class="about-paragraph">
                <b class="highlight-date">{{ 'participation_terms.nov6.title'|trans }}</b>
            </div>
            <div class="terms-list">{{ 'participation_terms.nov6.items.1'|trans }}</div>
            <div class="terms-list">{{ 'participation_terms.nov6.items.2'|trans }}</div>
            <div class="terms-list">{{ 'participation_terms.nov6.items.3'|trans }}</div>
            <div class="terms-list">{{ 'participation_terms.nov6.items.4'|trans }}</div>
            <div class="terms-list">{{ 'participation_terms.nov6.items.5'|trans }}</div>
            <div class="terms-list">{{ 'participation_terms.nov6.items.6'|trans }}</div>
            <div class="terms-list last">{{ 'participation_terms.nov6.items.7'|trans }}</div>

            <div class="about-paragraph">
                <b class="highlight-date">{{ 'participation_terms.nov7.title'|trans }}</b> – {{ 'participation_terms.nov7.description'|trans }}
            </div>
            <div class="about-paragraph">
                <b class="highlight-date">{{ 'participation_terms.photo_report.title'|trans }}</b> ({{ 'participation_terms.photo_report.dates'|trans }});
            </div>

            <div class="about-paragraph">
                <i>{{ 'participation_terms.note_accommodation'|trans }}</i>
            </div>
            <div class="about-paragraph">
                <b>{{ 'participation_terms.payment_terms.title'|trans }}</b> {{ 'participation_terms.payment_terms.description'|trans }}
            </div>

            <div class="reg-btn-wrapper">
                <a href="{{ path('registration', {'_locale': app.request.locale}) }}">
                    <button class="btn-a reg-btn" type="button">{{ 'event.registration'|trans }} >></button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>

    </script>
{% endblock %}