
{% extends 'layout.html.twig' %}

{% block title %}{{ 'button.partner'|trans }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/style_partner.css') }}?v={{ "now"|date("U") }}">
{% endblock %}

{% block content %}

    <div class="about-wrapper">
        <div class="about-side">
            <div class="side-el conf">{{ 'button.partner'|trans }}</div>
            <div class="side-el month">{{ 'event.november'|trans }} 19-21, 2025</div>
            <div class="side-el turkey">{{ 'event.mersin'|trans }}, {{ 'event.turkey'|trans }}</div>

            <div class="logo-wrapper">
                <div class="logo">
                    <img src="{{ asset('logo/agrofood-white.svg') }}" alt="asia">
                </div>
            </div>
        </div>

        <div class="devider"></div>

        <div class="partner-main">
            <div class="line-menu">

                <div class="btn-wrapper">
                    <a href="{{ path('main_page', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.main_page'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('about_conference', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.about'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('program', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.program'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('speakers', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.speaker'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('participants', {'_locale': app.request.locale}) }}" class="btn">
                        PARTICIPANTS LIST
                    </a>
                </div>

                <div class="btn-wrapper">
                    <a href="{{ path('participation', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.participation'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('hotel', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.hotel'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('contacts', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.contacts'|trans }}
                    </a>
                </div>
            </div>
            <div class="partners-main-wrapper">
                <div class="partners-inner-wrapper">
                    <div class="partner"><span class="cube"></span>{{ 'about_content.organizers'|trans }}</div>
                    <div class="line"></div>
                </div>
                <div class="partner-logo-wrapper">
                    <a href="https://www.apk-inform.com/uk" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/apk.svg') }}" alt="apk">
                    </a>
                    <a href="https://ukraine-pulse.org" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/soybean.svg') }}" alt="soybean">
                    </a>
                    <a href="#" class="partner-logo">
                        <img src="{{ asset('logo/asia.svg') }}" alt="asia">
                    </a>
                </div>

                <div class="partners-inner-wrapper">
                    <div class="partner"><span class="cube"></span>SUPPORTED BY</div>
                    <div class="line"></div>
                </div>
                <div class="partner-logo-wrapper">
                    <a href="https://me.gov.ua" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/min-ekonomy-ukraine.jpg') }}" alt="min-ekonomy">
                    </a>
                </div>

                <div class="partners-inner-wrapper">
                    <div class="partner"><span class="cube"></span>OFFICIAL PARTNER</div>
                    <div class="line"></div>
                </div>
                <div class="partner-logo-wrapper">
                    <a href="https://globalpulses.com" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/gpc.png') }}" alt="gpc">
                    </a>
                </div>

                <div class="partners-inner-wrapper">
                    <div class="partner"><span class="cube"></span>GENERAL SPONSOR</div>
                    <div class="line"></div>
                </div>
                <div class="partner-logo-wrapper">
                    <a href="https://www.agtfoods.com/about/divisions/turkiye" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/arbel_agt.jpg') }}" alt="gpc">
                    </a>
                </div>

                <div class="partners-inner-wrapper">
                    <div class="partner"><span class="cube"></span>GOLD SPONSOR</div>
                    <div class="line"></div>
                </div>
                <div class="partner-logo-wrapper">
                    <a href="https://www.akytechnology.com/en" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/aky.jpg') }}" alt="aky">
                    </a>
                </div>

                <div class="partners-inner-wrapper">
                    <div class="partner"><span class="cube"></span>SILVER SPONSOR</div>
                    <div class="line"></div>
                </div>
                <div class="partner-logo-wrapper">
                    <a href="https://www.imisk.com.tr/en" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/imisk.jpg') }}" alt="imisk">
                    </a>
                </div>

                <div class="partners-inner-wrapper">
                    <div class="partner"><span class="cube"></span>{{ 'partners.bronze_sponsor'|trans }}</div>
                    <div class="line"></div>
                </div>
                <div class="partner-logo-wrapper">
                    <a href="https://atameken-agro.com/ru" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/atameken.jpg') }}" alt="logo">
                    </a>
                    <a href="https://www.msc.com" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/msc.jpg') }}" alt="logo">
                    </a>
                </div>

                <div class="partners-inner-wrapper">
                    <div class="partner"><span class="cube"></span>PULSES SESSION SPONSOR</div>
                    <div class="line"></div>
                </div>
                <div class="partner-logo-wrapper">
                    <a href="https://mersintb.org.tr" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/mersin_commodity_1.jpg') }}" alt="logo">
                    </a>
                </div>

                <div class="partners-inner-wrapper">
                    <div class="partner"><span class="cube"></span>{{ 'partners.legal_sponsor'|trans }}</div>
                    <div class="line"></div>
                </div>
                <div class="partner-logo-wrapper">
                    <a href="https://agalawyers.org/uk" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/aga.jpg') }}" alt="logo">
                    </a>
                </div>

                <div class="partners-inner-wrapper">
                    <div class="partner"><span class="cube"></span>SPONSORS</div>
                    <div class="line"></div>
                </div>
                <div class="partner-logo-wrapper">
                    <a href="https://armadafoods.com" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/armada.jpg') }}" alt="logo">
                    </a>
                    <a href="https://www.akib.org.tr/en/default.html" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/ahbib.jpg') }}" alt="logo">
                    </a>
                    <a href="https://ipga.co.in" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/ipga.jpg') }}" alt="logo">
                    </a>
                    <a href="https://www.tanisseed.com" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/tanis.jpg') }}" alt="logo">
                    </a>
                    <a href="https://generalsurvey.com.tr/" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/general survey.jpg') }}" alt="logo">
                    </a>
                </div>

                <div class="partners-inner-wrapper">
                    <div class="partner"><span class="cube"></span>PORT VISIT SPONSOR</div>
                    <div class="line"></div>
                </div>
                <div class="partner-logo-wrapper">
                    <a href="https://mersinport.com.tr/en" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/mip.jpg') }}" alt="logo">
                    </a>
                </div>

                <div class="partners-inner-wrapper">
                    <div class="partner"><span class="cube"></span>BADGE SPONSOR</div>
                    <div class="line"></div>
                </div>
                <div class="partner-logo-wrapper">
                    <a href="https://eu-nomia.eu" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/eu-nomia.jpg') }}" alt="logo">
                    </a>
                </div>

                <div class="partners-inner-wrapper">
                    <div class="partner"><span class="cube"></span>BAG SPONSOR</div>
                    <div class="line"></div>
                </div>
                <div class="partner-logo-wrapper">
                    <a href="https://www.staragri.com/" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/StarAgri.jpg') }}" alt="logo">
                    </a>
                </div>

                <div class="partners-inner-wrapper">
                    <div class="partner"><span class="cube"></span>INDUSTRY PARTNER</div>
                    <div class="line"></div>
                </div>
                <div class="partner-logo-wrapper">
                    <a href="https://uga.ua" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/uza.jpg') }}" alt="logo">
                    </a>
                </div>

                <div class="partners-inner-wrapper">
                    <div class="partner"><span class="cube"></span>MEDIA PARTNERS</div>
                    <div class="line"></div>
                </div>
                <div class="partner-logo-wrapper">
                    <a href="https://millingmea.com" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/millingmea.jpg') }}" alt="logo">
                    </a>
                    <a href="https://agravery.com" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/agravery.jpg') }}" alt="logo">
                    </a>
                    <a href="https://www.growhow.in.ua" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/growhow.jpg') }}" alt="logo">
                    </a>
                    <a href="https://www.seeds.org.ua" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/seeds.jpg') }}" alt="logo">
                    </a>
                    <a href="https://agroportal.ua" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/agroportal.jpg') }}" alt="logo">
                    </a>
                    <a href="https://agroperspectiva.com/en" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/perspectiva.jpg') }}" alt="logo">
                    </a>
                    <a href="https://www.barvainvest.com" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/barva.jpg') }}" alt="logo">
                    </a>
                    <a href="https://bossagro.kz" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/boss-agro.jpg') }}" alt="logo">
                    </a>
                    <a href="https://apk-news.kz" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/apk-novosti.jpg') }}" alt="logo">
                    </a>
                    <a href="https://provse.kh.ua" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/agro_lux.jpg') }}" alt="logo">
                    </a>
                    <a href="https://millermagazine.com" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/miller.jpg') }}" alt="logo">
                    </a>
                    <a href="https://thediplomaticinsight.com" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/diplomatic insight.jpg') }}" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>

    </script>
{% endblock %}