
{% extends 'layout.html.twig' %}

{% block title %}{{ 'button.partner'|trans }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/style_partner.css') }}">
{% endblock %}

{% block content %}

    <div class="about-wrapper">
        <div class="about-side">
            <div class="side-el conf">{{ 'button.partner'|trans }}</div>
            <div class="side-el month">{{ 'event.november'|trans }} 5-6-7, 2025</div>
            <div class="side-el turkey">{{ 'event.mersin'|trans }}, {{ 'event.turkey'|trans }}</div>

            <div class="logo-wrapper">
                <div class="logo">
                    <img src="{{ asset('logo/agrofood-white.svg') }}" alt="asia">
                </div>
            </div>
        </div>

        <div class="devider"></div>

        <div class="partner-main">
            <div class="line-menu">
                <div class="btn-wrapper">
                    <a href="{{ path('main_page', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.main_page'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('about_conference', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.about'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('program', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.program'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('speakers', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.speaker'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('download_sponsor_options') }}" class="btn" title="Download PDF">
                        {{ 'button.sponsor_options'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('participation', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.participation'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('hotel', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.hotel'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('contacts', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.contacts'|trans }}
                    </a>
                </div>
            </div>
            <div class="partners-main-wrapper">
                <div class="partners-inner-wrapper">
                    <div class="partner"><span class="cube"></span>{{ 'about_content.organizers'|trans }}</div>
                    <div class="line"></div>
                </div>
                <div class="partner-logo-wrapper">
                    <a href="https://www.apk-inform.com/uk" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/apk.svg') }}" alt="apk">
                    </a>
                    <a href="https://ukraine-pulse.org" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/soybean.svg') }}" alt="soybean">
                    </a>
                    <a href="#" class="partner-logo">
                        <img src="{{ asset('logo/asia.svg') }}" alt="asia">
                    </a>
                </div>

                <div class="partners-inner-wrapper">
                    <div class="partner"><span class="cube"></span>{{ 'partners.media_partner'|trans }}</div>
                    <div class="line"></div>
                </div>
                <div class="partner-logo-wrapper">
                    <a href="https://millingmea.com" target="_blank" class="partner-logo logo-link">
                        <img src="{{ asset('logo/millingmea.jpg') }}" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

    </script>
{% endblock %}