
{% extends 'layout.html.twig' %}

{% block title %}{{ 'event.registration'|trans }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/style_registration.css') }}">
{% endblock %}

{% block content %}

    <div class="about-wrapper">
        <div class="about-side">
            <div class="side-el conf">{{ 'event.registration'|trans }}</div>
            <div class="side-el month">{{ 'event.november'|trans }} 5-6-7, 2025</div>
            <div class="side-el turkey">{{ 'event.mersin'|trans }}, {{ 'event.turkey'|trans }}</div>
            <div class="side-el organizer">{{ 'about_content.organizers'|trans }}</div>

            <div class="logo-wrapper">
                <div class="logo">
                    <img src="{{ asset('logo/apk-white.svg') }}" alt="apk">
                </div>
                <div class="logo">
                    <img src="{{ asset('logo/soybean.svg') }}" alt="soybean">
                </div>
                <div class="logo">
                    <img src="{{ asset('logo/asia-white.svg') }}" alt="asia">
                </div>
            </div>
        </div>

        <div class="devider"></div>

        <div class="registration-main">
            <div class="line-menu">
                <div class="btn-wrapper">
                    <a href="{{ path('main_page', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.main_page'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('about_conference', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.about'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('program', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.program'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper" style="display: none;">
                    <a href="{{ path('speakers', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.speaker'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper" style="display: none;">
                    <a href="#" class="btn">
                        {{ 'button.partner'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('download_sponsor_options') }}" class="btn" title="Download PDF">
                        {{ 'button.sponsor_options'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('participation', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.participation'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('hotel', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.hotel'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('contacts', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.contacts'|trans }}
                    </a>
                </div>
            </div>
            <div class="registration-form">
                <iframe src="https://conference.apk-inform.com/ru/form/application?crmId=4233&languages=en&language=en&redirect=1" width="100%" height="600px"></iframe>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

    </script>
{% endblock %}