
{% extends 'layout.html.twig' %}

{% block title %}{{ 'button.speaker'|trans }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/style_speakers.css') }}?v={{ "now"|date("U") }}">
{% endblock %}

{% block content %}

    <div class="about-wrapper">
        <div class="about-side">
            <div class="side-el conf">{{ 'button.speaker'|trans }}</div>
            <div class="side-el month">{{ 'event.november'|trans }} 19-21, 2025</div>
            <div class="side-el turkey">{{ 'event.mersin'|trans }}, {{ 'event.turkey'|trans }}</div>

            <div class="logo-wrapper">
                <div class="logo">
                    <img src="{{ asset('logo/agrofood-white.svg') }}" alt="asia">
                </div>
            </div>
        </div>

        <div class="devider"></div>

        <div class="speakers-main">
            <div class="line-menu">
                <div class="btn-wrapper">
                    <a href="{{ path('main_page', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.main_page'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('about_conference', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.about'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('program', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.program'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('partners', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.partner'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('download_sponsor_options') }}" class="btn" title="Download PDF">
                        {{ 'button.sponsor_options'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('participation', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.participation'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('hotel', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.hotel'|trans }}
                    </a>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('contacts', {'_locale': app.request.locale}) }}" class="btn">
                        {{ 'button.contacts'|trans }}
                    </a>
                </div>
            </div>

            <div class="speaker-cards-outer-wrapper">
                <div class="speaker-card">
                    <div class="card-photo">
                        <img src="{{ asset('speakers/01_Hussein Arslan.png') }}" alt="speaker">
                    </div>
                    <div class="card-name">Hussein Arslan</div>
                    <div class="card-position">
                        Chairman of AGT/Arbel
                    </div>
                </div>
                <div class="speaker-card">
                    <div class="card-photo">
                        <img src="{{ asset('speakers/02_Antonina Sklyarenko.png') }}" alt="speaker">
                    </div>
                    <div class="card-name">Antonina Sklyarenko</div>
                    <div class="card-position">
                        President of the Ukraine Pulse and Soybean Association (UPSA)
                    </div>
                </div>
                <div class="speaker-card">
                    <div class="card-photo">
                        <img src="{{ asset('speakers/03_Kintal Islamov.png') }}" alt="speaker">
                    </div>
                    <div class="card-name">Kintal Islamov</div>
                    <div class="card-position">
                        Chairman of the Board of “Atameken Agro” JSC
                    </div>
                </div>
                <div class="speaker-card">
                    <div class="card-photo">
                        <img src="{{ asset('speakers/04_Fethi Sonmez.png') }}" alt="speaker">
                    </div>
                    <div class="card-name">Fethi Sonmez</div>
                    <div class="card-position">
                        CEO, Armada Foods
                    </div>
                </div>
                <div class="speaker-card">
                    <div class="card-photo">
                        <img src="{{ asset('speakers/05_Bohdan Kostetsky.png') }}" alt="speaker">
                    </div>
                    <div class="card-name">Bohdan Kostetsky</div>
                    <div class="card-position">
                        Operating partner at Barva Invest
                    </div>
                </div>
                <div class="speaker-card">
                    <div class="card-photo">
                        <img src="{{ asset('speakers/06_Veysel Kaya.png') }}" alt="speaker">
                    </div>
                    <div class="card-name">Veysel Kaya</div>
                    <div class="card-position">
                        Head of the analytical company SUNSEEDMAN
                    </div>
                </div>
                <div class="speaker-card">
                    <div class="card-photo">
                        <img src="{{ asset('speakers/07_Svitlana Kyrychok.png') }}" alt="speaker">
                    </div>
                    <div class="card-name">Svitlana Kyrychok</div>
                    <div class="card-position">
                        Analyst, APK-Inform
                    </div>
                </div>
                <div class="speaker-card">
                    <div class="card-photo">
                        <img src="{{ asset('speakers/08_Yadikar Ibragimov.png') }}" alt="speaker">
                    </div>
                    <div class="card-name">Yadikar Ibragimov</div>
                    <div class="card-position">
                        Chairman of the «National Association of Oilseed Processors» (NOPA)
                    </div>
                </div>
                <div class="speaker-card">
                    <div class="card-photo">
                        <img src="{{ asset('speakers/09_VEYSEL MEMİS.png') }}" alt="speaker">
                    </div>
                    <div class="card-name">Veysel Memiş</div>
                    <div class="card-position">
                        Chairman of the Mediterranean Cereals, Pulses, Oil Seeds and Products Exporters’ Association (AHBİB) & Coordinator Chairman of the Mediterranean Exporter Associations (AKİB)
                    </div>
                </div>
                <div class="speaker-card">
                    <div class="card-photo">
                        <img src="{{ asset('speakers/10_Abdullah Özdemir.png') }}" alt="speaker">
                    </div>
                    <div class="card-name">Ö. Abdullah Özdemir</div>
                    <div class="card-position">
                        Chairman of the Board of Directors of Mersin Commodity Exchange
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>

    </script>
{% endblock %}